.title1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 60px;
	text-align:center;
	font-color: black;
	padding-top:10px;
	margin-top:7%;
	text-shadow: 2px 1px #388e3c !important;

}

.title2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 60px;
	text-align:center;
	font-color: black;
	text-shadow: 2px 1px #388e3c !important;
}


.title h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	text-align:center;
	font-color: black;
	padding-bottom: 30px;
	margin-bottom:7%;
	color: #388e3c !important;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	
	font-color: black;
}

blockquote {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 30px;
	text-align:center;
	color: #388e3c !important;
	padding-top: 20px;
	padding-left: 20px;
	padding-right:20px;
	border-left: none;
	padding-bottom: 0px;
	margin-left: 20%;
	margin-right:20%;

}

figcaption {
	color:#9e9e9e;
}

figurecaption {
	color:;
}

h1 {
	text-align: center;
}

.pook {
	max-height: 600px;
	border-right: 2px solid white;
}

.planes {
	max-height: 600px
	border-left: 2px solid white;
}


@media only screen and (max-width: 600px) {
    .title h1{
  	font-size:40px;
  }
}

/*@media only screen and (max-width : 992px) {
  .parallax img {
    max-width: 130%; /* or a little bit higher */
  }
}*/
/*@media only screen and (min-width: 993px) {
  .parallax img {
    max-width: 170%; /* or higher percentages. It's up to your taste */
  }
}*/
